
#carousel {
  overflow:	hidden;
  margin: 0 auto;
  border: 5px solid green;
  border-radius: 15px;
  width: 400px;
}
#carousel ul {
  width: 2000px;
  padding: 0;
  margin: 0;
}
#carousel ul li {
  list-style: none;
  float: left;
  
}
#carousel ul li img {
  width: 400px;
  height: 300px;
}
